@import "./reset.css";

/* 공통 (body, h1, main 등 id, class 제외한 태그) */
@keyframes fadeinup {
  from {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeinright {
  from {
    opacity: 0;
    transform: translate3d(-25%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(10px);
  }
}
:root {
  --grey: #ddd;
  --skyblue: #47b2e4;
  --blue: #37517e;
}

* {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* font */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

/* 공통 css 끝 */

/* 정근 */
#demobar {
  background-color: rgb(2, 59, 109);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#demo-left a > img {
  height: 27px;
  padding-left: 8px;
  padding-right: 8px;
}

#demo-center > .arrow {
  display: inline-block;
}

#demo-center > .arrow::after {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 8px;
  border-top: 0.15rem solid rgba(255, 255, 255, 0.6);
  border-right: 0.15rem solid rgba(255, 255, 255, 0.6);
}

#demo-center > .prev::after {
  transform: rotate(225deg);
}
#demo-center > .next::after {
  transform: rotate(45deg);
}

#demo-center > .arrow:hover::after {
  border-color: white;
  transition: 0.3s;
}

#demo-center > a {
  font-size: 1rem;
  padding: 0;
  font-weight: 700;
  color: #fff;
  margin: -2px 10px 0 10px;
  line-height: 0;
}

#demo-device {
  display: inline-block;
}

.demo-image {
  filter: invert(63%) sepia(21%) saturate(406%) hue-rotate(166deg)
    brightness(96%) contrast(89%);
  width: 22px;
  height: 22px;
  margin-top: 3px;
  margin-right: 5px;
}

#demo-device .demo-image {
  width: 36px;
  height: 22px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1px;
}

.demo-image:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(78deg) brightness(104%)
    contrast(104%);
  transition: 0.3s;
}

#demo-right {
  margin-right: 190px;
}

#demo-download {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 180px;
  background-color: #00a6eb;
  right: 0;
  top: 0;
  color: white;
}

#demo-download:hover {
  background-color: #00b4ff;
  transition: 0.3s;
}

.demo-download-image {
  width: 22px;
  height: 22px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(78deg) brightness(104%)
    contrast(104%);
}

#navbar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 215px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: rgba(40, 58, 90, 0.9);
}

#navbar > a {
  width: 60px;
  font-size: 2rem;
  margin: 0;
  margin-right: auto;
  padding: 0;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#nav-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#nav-menu > a,
#nav-menu > div {
  padding: 10px 0 10px 30px;
}

#nav-menu > div {
  display: flex;
}

#nav-menu > a:hover,
#nav-menu > div:hover {
  color: #47b2e4;
  transition: 0.2s;
}

#nav-menu > .nav-btn {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  border: 2px solid var(--skyblue);
  font-weight: 600;
}

.nav-btn:hover {
  background: #47b2e4;
  color: #fff !important;
}

.nav-arrow::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  margin-left: 6px;
  margin-bottom: 5px;
  border-top: 0.12rem solid white;
  border-right: 0.12rem solid white;
  transform: rotate(135deg);
}

#nav-dd {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content > a,
.dropdown-content > div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
#nav-dd > div:hover,
.dropdown-content > div:hover {
  color: #47b2e4;
  transition: 0.2s;
}

#nav-dd:hover > .dropdown-content {
  display: block;
  animation: fadeinup 0.5s;
}

.deepdropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  left: 160px;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.deepdropdown-content > a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#deepdd:hover .deepdropdown-content {
  display: block;
  animation: fadeinright 0.5s;
}

#home {
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 100px;
}

#home-left {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

#home-left > h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

#home-left > p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-weight: bold;
}

#home-btn {
  display: flex;
  align-items: center;
}

#home-btn > a {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  margin-right: 20px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: var(--skyblue);
}

#home-btn > a:hover {
  background: #209dd8;
  transition: 0.2s;
}

#home-watch {
  display: flex;
  align-items: center;
}

#home-watch > img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(78deg) brightness(104%)
    contrast(104%);
}

#home-watch:hover {
  cursor: pointer;
}

#home-watch:hover > img {
  filter: invert(65%) sepia(14%) saturate(3314%) hue-rotate(169deg)
    brightness(101%) contrast(79%);
  transition: 0.3s;
}

#home-right {
  margin: 0 50px;
}

#home-right > img {
  width: 600px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#clients {
  background: #f3f5fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

#clients > div {
  width: 14%;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

#clients img {
  max-width: 40%;
  display: inline-block;
  object-fit: fill;
  padding: 15px 0;
  filter: grayscale(100);
}

#clients img:hover {
  filter: none;
  transform: scale(1.1);
  transition: 0.5s;
}
/* 정근 css 끝 */

/* 지수 */
:root {
  --about-gray-font: #636363;
  --about-gray-bg: #f3f5fa;
  --about-gray-01: #dddddd;
  --about-gray-02: #858585;
  --about-gray-03: #343a30;
  --about-dark-blue: #37517e;
  --about-sky-blue: #4db5e6;
}

.about-row {
  padding: 60px 100px;
  line-height: 24px;
}

.about-row > p {
  content: "";
}

#about-1st-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  color: var(--about-gray-font);
  overflow: hidden;
  font-size: 19px;
}

.about-title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 34px;
  font-weight: 600;
  color: var(--about-dark-blue);
  line-height: 2.7rem;
  margin-bottom: 0.5rem;
}

#about-1st-row > .about-title {
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-bottom: 3rem;
}

#about-1st-row > .about-title::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: var(--about-gray-01);
  bottom: -3px;
  left: calc(50% - 60px);
}

#about-1st-row > .about-title::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: var(--about-sky-blue);
  bottom: -4px;
  left: calc(50% - 20px);
}

.about-content-col {
  padding: 0 10px;
}

.about-content-p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}

#about-1st-ul {
  margin-bottom: 1rem;
  font-size: 18px;
}

#about-1st-ul > li > i {
  padding-right: 10px;
  color: var(--about-sky-blue);
}

#btn-learn-more {
  font-family: "Nanum Gothic", sans-serif;
  border: 2px solid var(--about-sky-blue);
  color: var(--about-sky-blue);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 1;
  margin-top: 0.8rem;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
}

#btn-learn-more:hover {
  background-color: var(--about-sky-blue);
  color: #ffffff;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about-2nd-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--about-gray-bg);
}

.about-content-col > h3 {
  font-weight: 500;
}

strong {
  font-weight: 900;
}

.about-2nd-row-p {
  font-size: 18px;
  color: var(--about-gray-02);
}

.about-details > summary::-webkit-details-marker {
  display: none;
}

.about-details > summary {
  list-style: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--about-gray-03);
}

#about-2nd-ul > li {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 1.2rem;
}

.about-details[open] > summary:before {
  transform: rotate(270deg);
}

.about-details > summary > span {
  color: var(--about-sky-blue);
  font-size: 22px;
  font-weight: 600;
  padding-right: 10px;
}

.about-details > summary details > p {
  font-family: "Open Sans", sans-serif;
  color: var(--about-gray-font);
}

.about-details > summary:hover,
.about-details[open] > summary {
  color: var(--about-sky-blue);
}

.about-details > p {
  margin-top: 1.2rem;
  color: var(--about-gray-02);
  font-weight: 500;
}

.about-img {
  width: 700px;
}
/* 지수 css 끝 */

/* 정한 */
#footer {
  margin: 0px 0px 0px 0px;
}
.footer-newsletter {
  text-align: center;
  box-sizing: border-box;
  padding: 80px 0px;
  background: #f3f5fa;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  margin-bottom: 15px;
}
.join {
  text-align: center;
  color: #37517e;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}

.Tamen {
  text-align: center;
  padding-bottom: 15px;
  font-size: 15px;
}

.search {
  text-align: center;
  height: 40px;
  margin: 30px 0px 0px;
  padding: 6px 10px;
  width: 900px;

  position: relative;
  margin: 0 auto;
}
.email {
  text-align: left;
  border-radius: 30px;
  padding: 4px 8px;
  font-size: 24px;
  background-color: white;
  border: none;
  width: 580px;
  height: 40px;
  position: relative;
}

.subscribe {
  text-align: center;
  padding: 0px 20px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #47b2e4;
  color: white;
  border: none;
  position: absolute;
  width: 120px;
  height: 40px;
  float: center;
  position: absolute;
  right: 160px;
}
.subscribe:hover {
  background-color: #209dd8;
}

.footer-top {
  font-size: 14px;
  padding: 60px 0px 30px;
  color: #444444;
}

.roww {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
}
.col-lg-3col-md-6footer-contact {
  font-family: "Jost", sans-serif;
  width: 270px;
  text-align: left;
  font-size: 14px;
  margin: 0px 0px 30px;
  padding: 0px 12px;
}

.col-lg-3col-md-6footer-links {
  width: 270px;
  font-family: "Jost", sans-serif;
  text-align: left;
  font-size: 14px;
  margin: 0px 0px 30px;
  padding: 0px 12px;
  line-height: 33px;
}

.arsha {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 24px;
  margin: 0px 0px 10px;
  padding: 2px 0px;
  font-weight: bold;
}

.a108 {
  color: #37517e;
  font-size: 14px;
  margin: 0px 0px 10px;
  padding: 5px 0px;
  line-height: 23px;
}

.bold {
  font-weight: bold;
}

.useful {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 16px;
  margin: 0px 0px 8px;
  padding: 0px 0px 12px;
  font-weight: bold;
}

.ourservice {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 16px;
  margin: 0px 0px 8px;
  padding: 0px 0px 12px;
  font-weight: bold;
}

.oursocial {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 16px;
  margin: 0px 0px 8px;
  padding: 0px 0px 12px;
  font-weight: bold;
}
ul .bxbx-chevron-right {
  text-align: left;
  font-weight: bold;
  color: blue;
}

.twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.twitter:hover {
  background-color: #209dd8;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.facebook:hover {
  background-color: #209dd8;
}
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.instagram:hover {
  background-color: #209dd8;
}
.google-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.google-plus:hover {
  background-color: #209dd8;
}
.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.linkedin:hover {
  background-color: #209dd8;
}

.containerfooter-bottomclearfix {
  color: white;
  background-color: rgb(55, 81, 126);
  font-size: 14px;
  margin: 0px 0px;
  padding: 30px 12px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.social-linksmt-3 {
  margin: 16px 0px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.link {
  color: rgb(139, 139, 255);
}

/* 정한 css 끝 */

/* 한솔  시작*/
/* pricing css  */
#pricing {
  padding: 60px 0;
}

.pricing__box > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding-top: 40px;
  margin: auto 50px auto;
  gap: 20px;
}
.pricing__box > ul > li {
  padding: 60px 30px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  height: 100%;
  border-top: 4px solid #fff;
  border-radius: 5px;
}
.pricing__box > ul > .business__box {
  border-top: 3px solid var(--skyblue);
}
.pricing__box__name {
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}
.pricing__box__name,
.pricing__box h2,
.pricing__box__month {
  font-family: "Jost", sans-serif;
}

.pricing__box h2 {
  font-size: 40px;
  color: var(--blue);
  margin-bottom: 5px;
}
.pricing__box__month {
  color: var(--skyblue);
  margin-bottom: 20px;
}
.pricing__box__list,
.pricing__box__X {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 25px;
}

.pricing__box__list li::before {
  content: "\2713";
  margin-right: 0.5rem;
  color: green;
}
.pricing__box__list li {
  padding: 10px 0;
  color: #999999;
}
.pricing__box__X {
  padding-top: 0px;
  margin-top: -25px;
}
.pricing__box__X li {
  position: relative;
  list-style: none;
  color: #ddd;
  padding: 10px 0;
}
.pricing__box__X li::before {
  content: "X";
  margin-right: 0.5rem;
  color: #ddd;
}
.pricing__box__X li::after {
  content: "";
}

.pricing__box__button,
.pricing__box__button__blue {
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  border: 2px solid var(--skyblue);
  color: var(--skyblue);
  padding: 10px;
  font-weight: bold;
}
.pricing__box__button:hover {
  cursor: pointer;
  background: var(--skyblue);
  color: white;
  border-radius: 50px;
}
.pricing__box__button__blue {
  background-color: var(--skyblue);
  color: white;
}
.pricing__box__button__blue:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* FREQUENTLY ASKED QUESTIONS */

#faq__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0px;
  background-color: #f3f5fa;
  display: block;
}
.faq__list ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.faq__question {
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
}
#faq .faq__question {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  color: var(--blue);
}
#faq .faq__description {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq__description {
  color: #444444;
  font-family: "Open Sans", sans-serif;
}
.faq__question__box > summary {
  list-style: none;
}

.faq__question__summary {
  font-family: "Poppins", sans-serif;
}
.faq__list > ul {
  align-items: center;
  justify-content: center;
}
.faq__list > ul > li {
  background-color: white;
  margin: 30px;
  padding: 15px;
  border-radius: 6px;
}

/* contact part */
#contact {
  padding: 60px 0;
}

.top {
  text-align: center;
  padding-bottom: 30px;
}
.title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--blue);
}
.title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--grey);
  bottom: 1px;
  left: calc(50% - 60px);
}
.title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--skyblue);
  bottom: 0;
  left: calc(50% - 20px);
}
.top p {
  font-size: 16px;
  line-height: 20px;
  margin: 30px;
}
.bottom {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px;
}
.contact__inform__box {
  border-top: 3px solid var(--skyblue);
  border-bottom: 3px solid var(--skyblue);
  padding: 30px;
  background: #fff;
  width: 600px;
  margin-right: 20px;
  box-shadow: 0 0 2.4rem 0 rgba(0, 0, 0, 0.12);
}
.contact__inform__letf > i {
  font-size: 20px;
  background: #e7f5fb;
  float: left;
  width: 44px;
  height: 44px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s;
}
.contact__inform__right h4 {
  text-align: left;
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--blue);
}
.contact__inform__right p {
  text-align: left;
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}
.contact__input__box {
  display: block;
  width: 100%;
  padding: 30px;
  border-top: 3px solid var(--skyblue);
  border-bottom: 3px solid var(--skyblue);
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact__input__row {
  display: flex;
}
.contact__input__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0px 12px 8px;
}

.contact__input__form > label {
  display: inline-block;
  padding-bottom: 10px;
}
.contact__input__group > input {
  box-shadow: none;
  font-size: 14px;
  padding: 6px 12px;
  all: unset;
  height: 30px;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #cad3d3;
  margin-top: 10px;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  border-color: var(--skyblue);
}
.contact__input__group > textarea {
  padding: 10px 12px;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  height: 15rem;
  border: 1px solid #cad3d3;
  margin-top: 10px;
}
.send__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.send__button > button {
  background: var(--skyblue);
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  font-size: 15px;
}
/* 한솔 css 끝 */

/*우진*/
#team {
  overflow: hidden;
  background-color: #f3f5fa;
  padding: 3rem 0;
}

.team_text {
  text-align: center;
  padding-bottom: 3rem;
}

.team_text h2 {
  font-size: 3.2rem;
  font-weight: bold;
  padding-top: 2rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  position: relative;
  color: #37517e;
}
.team_text h2::before {
  content: "";
  content: "";
  position: absolute;
  display: block;
  width: 12rem;
  height: 0.1rem;
  background: #ddd;
  bottom: 0.1rem;
  left: calc(50% - 85px);
}

.team_text h2::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 4rem;
  height: 0.3rem;
  background: #47b2e4;
  left: calc(50% - 20px);
}

.team_text p {
  font-size: 1.6rem;
  margin-bottom: 0;
  line-height: 2.5rem;
}

/* Team */

#team_main {
  padding: 0 2rem;
  margin: 0 10rem;
}

.team_cards {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.team_sort {
  flex: 0 0 auto;
  width: 50%;
  box-sizing: border-box;
  padding: 1.2rem;
}

.card_info {
  position: relative;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  display: flex !important;
  align-items: flex-start !important;
}

.card_info:hover {
  transform: translateY(-1rem);
}

.profile__username {
  font-weight: bold;
  color: #37517e;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.profile__top {
  display: flex;
  gap: 1rem;
}

.profile__left > img {
  height: 5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: var(--main-border);
  padding: 3px;
}

.profile__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
}

.profile__username {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.portfolio-filter {
  text-align: center;
  margin-bottom: 30px;
}

.portfolio-filter ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.portfolio-filter ul li {
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #f8f9fa;
  color: #6c757d;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.portfolio-filter ul li:hover,
.portfolio-filter ul li.filter-active {
  background-color: skyblue;
  color: #fff;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 15px;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

/* 우진 css 끝 */

/* 정한 */
#footer {
  margin: 0px 0px 0px 0px;
}
.footer-newsletter {
  text-align: center;
  box-sizing: border-box;
  padding: 80px 0px;
  background: #f3f5fa;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  margin-bottom: 15px;
}

.join {
  text-align: center;
  color: #37517e;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}

.Tamen {
  text-align: center;
  padding-bottom: 15px;
  font-size: 15px;
}

.search {
  text-align: center;
  height: 40px;
  margin: 30px 0px 0px;
  padding: 6px 10px;
  width: 900px;

  position: relative;
  margin: 0 auto;
}

.email {
  text-align: left;
  border-radius: 30px;
  padding: 4px 8px;
  font-size: 24px;
  background-color: white;
  border: none;
  width: 580px;
  height: 40px;
  position: relative;
}

.subscribe {
  text-align: center;
  padding: 0px 20px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #47b2e4;
  color: white;
  border: none;
  position: absolute;
  width: 120px;
  height: 40px;
  float: center;
  position: absolute;
  right: 160px;
}

.subscribe:hover {
  background-color: #209dd8;
}

.footer-top {
  font-size: 14px;
  padding: 60px 0px 30px;
  color: #444444;
}

.roww {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 1600px) {
  .roww {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media (max-width: 800px) {
  .roww {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 200px;
    margin-right: 200px;
  }
}

.col-lg-3col-md-6footer-contact {
  font-family: "Jost", sans-serif;
  width: 270px;
  text-align: left;
  font-size: 14px;
  margin: 0px 0px 30px;
  padding: 0px 12px;
}

.col-lg-3col-md-6footer-links {
  width: 270px;
  font-family: "Jost", sans-serif;
  text-align: left;
  font-size: 14px;
  margin: 0px 0px 30px;
  padding: 0px 12px;
  line-height: 33px;
}

.arsha {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 24px;
  margin: 0px 0px 10px;
  padding: 2px 0px;
  font-weight: bold;
}

.a108 {
  color: #37517e;
  font-size: 14px;
  margin: 0px 0px 10px;
  padding: 5px 0px;
  line-height: 23px;
}

.bold {
  font-weight: bold;
}

.useful {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 16px;
  margin: 0px 0px 8px;
  padding: 0px 0px 12px;
  font-weight: bold;
}

.ourservice {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 16px;
  margin: 0px 0px 8px;
  padding: 0px 0px 12px;
  font-weight: bold;
}

.oursocial {
  font-family: "Jost", sans-serif;
  color: #37517e;
  font-size: 16px;
  margin: 0px 0px 8px;
  padding: 0px 0px 12px;
  font-weight: bold;
  line-height: 25px;
}

.bxbx-chevron-right {
  text-align: left;
  font-weight: bold;
}

.twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.twitter:hover {
  background-color: #209dd8;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.facebook:hover {
  background-color: #209dd8;
}
.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.instagram:hover {
  background-color: #209dd8;
}
.google-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.google-plus:hover {
  background-color: #209dd8;
}
.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47b2e4;
  margin: 0px 4px 0px 0px;
  padding: 20px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.linkedin:hover {
  background-color: #209dd8;
}

.containerfooter-bottomclearfix {
  color: white;
  background-color: rgb(55, 81, 126);
  font-size: 14px;
  margin: 0px 0px;
  padding: 30px 12px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .containerfooter-bottomclearfix {
    color: white;
    background-color: rgb(55, 81, 126);
    font-size: 14px;
    margin: 0px 0px;
    padding: 30px 12px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.social-linksmt-3 {
  margin: 16px 0px 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.link {
  color: rgb(139, 139, 255);
}

/* 정한 css 끝 */
